.rectangle {
	fill: #716A65;
	width: 35px;

}
.rectangle:hover {
	fill: #F05F40;
}
.axis {
  font: 15px arial;
	font-weight: 20px;
}
.text{
	font-family: sans-serif;
	font-size: 10.0em;
	fill: #999;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#drop{
	position: absolute;
	top: 50px;
	left: 275px;
}
